/* ############### WELCOME ############### */

.joinGameForms {
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: 25vh;
    left: 2vw;
    background-color: var(--cvv);
    border-radius: min(5vh, 5vw);
    padding: min(2vh, 2vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.jgH3 {
    margin: 0 0 10px 0;
}

#publicGames {
    width: 90%;
    min-height: 10vh;
    height: auto;
    max-height: 20vh;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px var(--wv);
    background-color: var(--wvvv);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* ############### HOST ############### */

/* --- Sections --- */

#hostMain {
    display: flex;
    flex-direction: row;
}

#hostAside {
    height: 100vh;
    width: 30vw;
    background-color: var(--cmv);
    color: var(--n);
    padding: 2vh;
}

#hostAside {
    --s: calc(10vw - 0.5px); /* control the size*/
    --c1: var(--cv);
    --c2: var(--cmv);
    
    --_g: #0000 90deg,var(--c1) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

#hostUsrName {
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    background-color: var(--cv);
    color: var(--n);
    text-align: center;
    font-size: large;
    margin: 0 auto 2vh auto;
    cursor: pointer;
}

#hostUsrName:hover {
    background-color: var(--cvv);
}

/* --- Mainsection --- */

#hostMainSection {
    background-color: var(--w);
    color: var(--n);
    width: 70vw;
    padding: 1vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hostMainSection {
    --s: calc(5vw - 0.25px); /* control the size*/
    --c1: var(--wvv);
    --c2: var(--w);
    
    --_g: #0000 90deg,var(--c1) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
  }

.hostTitle {
    margin-top: 0;
    color: var(--n);
}

.hostSection {
    width: 100%;
    margin: auto;
    /* padding: 3px; */
    border: solid 2px var(--wv);
    border-radius: min(1vh, 1vw);

    background-color: var(--w);
    overflow-x: hidden;
}

.hostSectionTitle {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    background-color: var(--wv);
}

.hostSectionContent {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saHostForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saHostForm input, .saHostForm label, .saHostForm textarea, .aSaButton {
    width: 90%;
    margin: 5px auto;
}

.aSaButton {
    text-align: center;
}

.saHostForm input, .saHostForm textarea, .aSaButton, .aSaButton:visited {
    font-size: medium;
    background-color: var(--wvvv);
    border: solid 1px var(--wv);
    padding: 3px;
    border-radius: 5px;
    color: var(--n);
}

.saHostForm input:hover, .saHostForm textarea:hover,
.saHostForm input:focus, .saHostForm textarea:focus,
.aSaButton:hover {
    background-color: var(--wvv);
}

.saHostForm textarea {
    height: 10vh;
    overflow-y: auto;
}

.saHostForm input[type=submit], .aSaButton {
    cursor: pointer;
}

.saHostForm input[type=submit]:active, .aSaButton:active {
    background-color: var(--wv);
}

.privateGame {
    font-size: 20px;
}

.redButton {
    background-color: var(--errBG);
    border-color: var(--rd);
    color: var(--errFG);
}

.redButton:hover {
    background-color: var(--errBD);
}

.redButton:active {
    background-color: var(--rv);
}

/* ----- SIDE ----- */

#hHostActions, #hAdminActions {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}

/*  --- Host --- */

#hHostActions {
    width: 100%;
    margin: auto;
    /* padding: 3px; */
    border: solid 2px var(--wvv);
    border-radius: min(1vh, 1vw);

    background-color: var(--wvvv);
    overflow-x: hidden;
}

.hHostPanelTitle {
    margin: 0;
    text-align: center;
    background-color: var(--wvv);
}

#hHostActions p {
    background-color: var(--wvvv);
    padding: 5px;
    margin: 0;
    text-align: center;
}

/* --- Admin --- */

#hAdminActions {
    width: 100%;
    /* padding: 3px; */
    border: solid 2px var(--rv);
    border-radius: min(1vh, 1vw);

    background-color: var(--errBG);
    overflow-x: hidden;
}

.hAdminPanelTitle {
    margin: 0;
    text-align: center;
    background-color: var(--rv);
}

.hostAdminActionButton {
    background-color: var(--errBG);
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.hostAdminActionButton:hover {
    background-color: var(--errBD);
}

.adminPanelHR {
    margin: 0;
    width: 100%;
    border: solid 1px var(--rv);
}