:root {
    --r: #96031A;
    --rv: #C9818C;
    --re: #FA2916;
    --g: #0A8754;
    --gv: #83C3A9;
    --b: #3066BE;
    --bv: #96B3DE;
    --be: #30B8BF;
    --y: #FAA916;
    --yv: #FBD48A;
    --n: #1B1B1E;
    --nno: #1B1B1E00;
    --nho: #1B1B1E99;
    --w: #FBFFFE;
    --nv: #444146;
    --wv: #B4B3B6;
    --gray: #6D676E;
}

@font-face {
    font-family: "citationFont";
    src: url("./LTPerfume-2.ttf");
}

@font-face {
    font-family: "signatureFont";
    src: url("./Thesignature.ttf");
}